body{
    background:#020307;
}
/* bgPic self-adaptation */
#loginBgBox{
    width:100%;
    min-width: 1000px;
    height:100%;
    min-height:760px;
    position: absolute;
    overflow: hidden;
    z-index: -9999;
}
#loginBg{
    width:100%;
    height:100%;
}
/*================================================== cteBox start ======================================================*/
/* loginForm */
#cteBox{
    width: 1000px;
    margin:0 auto;
}
#log_box{
    position: fixed;
    bottom:10%;
    left:50%;
    -webkit-transform: translateX(-44%);
    -moz-transform: translateX(-44%);
    -ms-transform: translateX(-44%);
    -o-transform: translateX(-44%);
    transform: translateX(-44%);
}
.loginForm,.loginForm input[name='account'],.loginForm input[name='pwd'],.loginForm a,
.loginForm input[type='reset'],.loginForm input[type='button']{
    color: #2C8229;
}
input::-moz-placeholder,input:-moz-placeholder,input:-ms-input-placeholder{
    color: #2C8229;
}
input::-webkit-input-placeholder{
    color: #2C8229;
}
.loginForm{
    min-width:672px;
    font:lighter 35px/1 courier,courier_ser;
}
.loginForm input[name='account'],.loginForm input[name='pwd']{
    font:100 30px/50px courier,courier_ser;
    background: transparent;
}
.loginForm .smallHelp>*{
    width:33.3%;
    vertical-align: middle;
    text-align:center;
}
input[name='keepInfo']{
    display: none;
}
[for='keepInfo']{
    position: relative;
}
[for='keepInfo']:after{
    content: ' X';
}
input[name='keepInfo']:checked+[for='keepInfo']:after{
    content: ' V';
}
[for='keepInfo']>i{
    display: inline-block;
    position: absolute;
    top:0;
    right:-4px;
    width: 12px;
    height:12px;
    border:1px solid #2C8229;
}
.loginForm a,.loginForm [for='keepInfo'],.loginForm .smallHelp>p{
    font:900 14px/1 courier,courier_ser;
}
.loginForm a:hover{
    text-decoration: underline;
}
.loginForm input[type='reset'],.loginForm input[type='button']{
    display: inline-block;
    font:900 28px/1 courier,courier_ser;
    border:3px outset #2C8229;
    margin-bottom:10px;
    background: transparent;
}
.loginForm input[type='reset']:active,.loginForm input[type='button']:active{
    border: 3px dotted #2C8229;
}
.loginForm [type='reset']{
    margin-left:35%
}
.loginForm [type='button']{
    margin-right:35%;
}
/* registerForm */
#reg_box{
    width:100%;
    height:100%;
    position: fixed;
    z-index:9999;
    opacity: 0.9;
    background: #000;
}
[name='registerForm']{
    min-width:576px;
    position: absolute;
    left:50%;
    bottom:50%;
    /*border:10px double #2C8229;*/
    padding:2% 2% 0;
    -webkit-transform: translate(-50%, 34%);
    -moz-transform: translate(-50%, 34%);
    -ms-transform: translate(-50%, 34%);
    -o-transform: translate(-50%, 34%);
    transform: translate(-50%, 34%)
}
[name='registerForm'] label{
    margin-right:5px;
}
[name='registerForm']>p{
    font:lighter 30px/2 courier,courier_ser;
    color: #2C8229;
}
[name='registerForm']>p input,[name='registerForm']>.questionForSafety{
    font:lighter 30px/2 courier,courier_ser;
    color:#2C8229;
    background: transparent;
}
[name='registerForm']>.questionForSafety:after{
    font:14px/30px Microsoft YaHei;
    content: '\25BC';
    margin-left:4px;
}
[name='registerForm']>.questionForSafety:after,[name='registerForm']>.questionForSafety{
    vertical-align: 14%;
}


[value='REGISTER']{
    margin-left:20px;
}




















/*================================================== cteBox over ======================================================*/

