.skill-wave,
.skill-progress {
  display: none;
}
.resume-page {
  min-width: 320px;
}
.section {
}
/* 个人信息 */
.section--info .section-inner{
  flex-direction: column;
  text-align: center;
}
.section--info .section-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.section--info .img {
  position: relative;
  top: 40px;
}
.section--info .info-detail {
  flex-direction: column;
}
.section-info-text {

}

/* 技术栈 */
.skill-graph-block,
.skill-desc-block {
  float: none;
  width: 80%;
  margin: 0 auto 50px;
}
.skill-desc-block {
  height: auto;
}
.skill-graph .skill-wrap::after {
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 84px;
  background: linear-gradient(to bottom, transparent 0%, grey 15%, #000 25%, #35363c 35%, #2b282a 65%, #000 75%, grey 85%, transparent 0%)
}
.skill-desc-block::after,
.skill-graph-block::before {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
}
.skill-desc-block::after {
  bottom: 0;
}
.skill-graph-block::before {
  top: 0;
}