.resume-page {
}
/* 技术栈 */
.skill-graph-block,
.skill-desc-block::after,
.skill-graph .skill-wrap::after {
  display: none;
}
.section--skill {
  margin-left: 10px;
  margin-right: 10px;
}
.skill-desc-block {
  width: 100%;
}
.skill-desc-item {
  margin-bottom: 10px;
}
.skill-desc-list .desc-name,
.skill-desc-block .desc-level {
  line-height: 1.5;
}
.skill-desc-block .desc-level {
  float: right;
  font-size: 12px;
  padding: 0 3px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-top: 2px;
}
.skill-desc-list .desc-detail {
  float: none;
  text-align: left;
  margin-left: 0;
}
.desc-progress-bar {
  height: 20px;
  background-color: #aaa;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
}
.desc-progress-bar .bar {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #2eac6d;
  transform-origin: 0 0;
  animation: barAnim .5s ease-out;
}
@keyframes barAnim {
  0% {
    transform: scaleX(0);
  }
}

/* 项目经历 */
.skill-graph .skill-wrap {
  padding: 0 20px;
}
.project-list {
  margin-left: 0;
}
.section--project .item-time {
  position: static;
}
.skill-desc-list .desc-level,
.desc-progress-bar {
  display: block;
}

/* 教育经历 */
.education-list {
  flex-direction: column;
}
.education-row {
  flex: 1;
}
.education-item {
  margin-bottom: 20px;
}
@media screen and (min-width: 0) and (max-width: 460px) {
  .education-row {
    flex-direction: column;
  }

}