/* 公共部分 */
body {
  font-family: sans-serif;
  background-color: #2a2c30;
}
.resume-page {
}
.header,
.main {
}
.section {

}
.box {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2), 0 2px 15px 0 rgba(0, 0, 0, .11);
  background-color: #3a3b40;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

/* 个人信息 */
.section--info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 50px;
}
.section-inner {
  display: flex;
  padding: 20px;
}
.page-name {
  display: none;
}
.section--info .section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-right: 30px;
}
.section--info .section-info-text {
  flex: 1;
}
.section--info .info-name {
  font-size: 35px;
  line-height: 1.2;
  color: #2eac6d;
}
.section--info .info-job {
  font-weight: 800;
  color: #aaa;
}
.section--info .info-intro {
  font-size: 16px;
  line-height: 1.7;
  margin: 10px 0;
}
.section--info .info-intro,
.section--info .item-text {
  color: #eee;
}
.section--info .item-text[href]:hover {
  color: #ff4500;
}
.section--info .info-detail {
  display: flex;
  justify-content: space-between;
}
.section--info .fa {
  color: #aaa;
}
.section--info .item-title {
  display: inline-block;
  min-width: 60px;
  color: #aaa;
}

/* 技术栈 */
.section--skill {

}
.section-title {
  font-size: 35px;
  text-align: center;
  color: #2eac6d;
  margin-bottom: 20px;
}

/* 项目经历 */
.section--project {
  font-size: 14px;
  line-height: 2;
  color: #fff;
  margin-top: 30px;
}
.project-wrap {
  padding: 30px;
}
.project-list {
  padding-left: 50px;
  margin-left: 30%;
  border-left: 5px solid #3a3b40;
}
.project-item {
  position: relative;
  padding: 5px;
  margin-bottom: 30px;
}
.project-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -60px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2eac6d;
}
.section--project .item-title {
  display: inline-block;
  color: #fff;
}
.section--project .item-time {
  position: absolute;
  top: 4px;
  left: -210px;
  width: 130px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 0 15px rgba(0,0,0,.08);
  background-color: #2eac6d;
}
.section--project .fa-link {
  color: #fff;
}
.section--project .item-link:hover .item-title,
.section--project .item-link:hover .fa-link {
  color: #ff4500;
}

/* 教育经历 */
.section--education {
  color: #fff;
}
.education-wrap {
  padding: 0 20px;
}
.education-list {
  display: flex;
  justify-content: space-between;
}
.education-row {
  display: flex;
}
.education-item {
  flex: 1;
  padding: 10px;
  margin: 0 10px;
}
.section--education .item-title {
  position: relative;
  left: -20px;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .5);
  background-color: #2eac6d;
}
.section--education .item-title::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent rgba(46, 172, 109, .5) transparent transparent;
  border-width: 5px 10px 5px 0;
}

@media screen and (min-width: 980px) and (max-width: 1199px){

}


































